<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="/Content/plugins/img/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Các chức năng</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-home"></i> Trang chủ <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/Admin/Home/Index">Tổng quan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-briefcase"></i> Danh mục <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/Category/Index">Sản phẩm - Tin tức</a></li>
                            <li><a href="/Unit/Index">Đơn vị</a></li>                           
                            <li><a href="/Design/Index">Kiểu dáng</a></li>
                            <li><a href="/Meterial/Index">Chất liệu</a></li>
                            <li><a href="/Size/Index">Kích thước</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-database"></i> Sản phẩm <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="general_elements.html">Chiếu</a></li>
                            <li><a href="media_gallery.html">Võng - Khung</a></li>
                            <li><a href="icons.html">Màn - Khung</a></li>
                            <li><a href="glyphicons.html">Chăn - Ga - Gối - Đệm</a></li>
                            <li><a href="widgets.html">Mành treo</a></li>
                            <li><a href="invoice.html">Vật tư lẻ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-table"></i> Khách hàng <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Nhập hàng <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-file-pdf-o"></i> Tin tức <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-cog"></i>Hệ thống <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/Role/Index">Quyền hệ thống</a></li>
                            <li><a href="/Group/Index">Nhóm người dùng</a></li>
                            <li><a href="/User/Index">Người dùng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-desktop"></i>Nhà phát triển <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
</div>